.benvinguda
{
    text-align: center;
}


.blog
{
    background: rgb(255,247,0);
    background: linear-gradient(0deg, rgba(255,247,0,1) 0%, rgba(253,187,45,1) 100%);
    width: 50%;
    border-radius: 10px;
    
    
}

.blog p 
{
    margin: 2.5em;
    padding-bottom: 3em;
}

.blog h2
{
    margin: 2em;
    padding-top: 1em;
}

#blog1
{
   align-items: center;
}

#blog2
{
    clear: both;
}