#capitol1 
{
    margin: 2em;
    float: left;   
}

#capmesrecent 
{
    clear: both;  
    margin: 2em;
}

#shakipiyocap
{
    margin: 2em;
    float: left;   
}

.liveaction
{
    clear: both;
}

article h1
{
    margin: 1em;
}


.webserie 
{
    margin-top: 0.5em;
}

#trailer
{
    margin: 2em;
    
}

.liveaction h3
{
    margin: 1em;
}

#cliplive 
{
    margin: 2em;
}
